extends layout

block content
  div.left.row
    a.link(href="/new") New
    span.link  > Message
  form(method="post", action="/new/message")
    div.center.row
      input.txt(type="text", name="name")
    div.center.row
      input.txt(type="text", name="command")
    div.center.row
      input.btn(type="submit", value="Save")
